<%- include('./template/cabecera',{tituloWeb:'Usuarios'}) %>
<div class="container">
    <h1 align="center" class="text-dark">Datos Clientes</h1>
    <a class="btn btn-success btn-block my-4" href="/usuarios/crear2">
        Crear Nuevo Cliente
    </a>
    <link rel="stylesheet" href="/css/estilos.css">
    <table class="table">
        <thead>
            <tr>
                <th scope="col"># Id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Celular</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% if (arrayusuarios.length> 0) { %>
                <% arrayusuarios.forEach(usuarios=> { %>
                    <tr>
                        <th scope="row">
                            <%= usuarios.id %>
                        </th>
                        <td>
                            <%= usuarios.nombre %>
                        </td>
                        <td>
                            <%= usuarios.apellidos %>
                        </td>
                        <td>
                            <%= usuarios.cel %>
                        </td>
                        <td><a href="usuarios/<%= usuarios.id %>"
                            class="btn btn-warning btn-sm">Editar</a></td>
                    </tr>

                    <% }) %>
                        <% } %>

                    </tbody>
                </table>
            </div>
        
        
    
    
    <!-- Este código me permita probar navegación directa entre páginas antes de un navbar
        cesar guerrero 17-11-2021
        <a href="/">Inicio</a>
    -->
    <%- include('./template/footer'); %>